@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.inputfield {
@apply bg-[#232934] rounded-l-md p-2 w-full  placeholder:text-gray-400 placeholder:pl-5 placeholder:italic
}
.inputfield2 {
  @apply bg-[#232934] rounded-md p-2 w-full  placeholder:text-gray-400 placeholder:pl-5 placeholder:italic
}

.Dropdown {
 @apply bg-[#2C313D] p-2 rounded-md
}

.btn-primary {
  @apply bg-blue-500 flex text-white py-1 px-3 gap-2 items-center rounded-md hover:bg-blue-700
}